body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #1e3c72, #ff4b5c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* CONTAINER */
.login-container {
  background: #162447;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;

  /* ANIMAÇÃO */
  opacity: 0;
  transform: translateY(50px);
  animation: subir 0.8s ease forwards;
}

/* LOGO */
.logo {
  text-align: center;
}

/* INPUTS */
input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* BOTÕES */
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #e43f5a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* ANIMAÇÃO */
@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}