body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #1e3c72, #ff4b5c);
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* CONTAINER */
.login-container {
  background: #162447;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 750px;
  height: 1050px;
  /* ANIMAÇÃO */
  opacity: 0;
  transform: translateY(50px);
  animation: subir 0.8s ease forwards;
}

/* LOGO */
.logo {
  text-align: center;
  
}
/* LOGOL */

.logol {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.logol img {
  width: 320px;
  height: 320px;
  border-radius: 30%;
  box-shadow: 0 20px 10px rgb(145, 47, 96);
}

/* INPUTS */
input {
  text-align: center;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
 font-size: xx-large;
}

/* BOTÕES */
button {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
    height: 60px;
  border: none;
  border-radius: 10px;
  background: #e43f5a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: xx-large;
  justify-content:  center; 
}

button:hover {
  transform: scale(1.05);
}

/* ANIMAÇÃO */
@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}